In [3]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_colwidth', 800)
pd.set_option('display.max_rows', 200)

%matplotlib inline

In [36]:
df = pd.read_csv('Current headcount data.csv')

In [37]:
df.head(n=1)

,Employee ID,Start_Date,Leave_date,Grade,Comp_Ratio,Cont._Hours,Annual_Salary,Hourly_Rate,Actual_monthly_pay,Time_in_latest_role,Commute,Direct_Reports,Is_manager,Team_eNPS_avg_response,Country,Function,Employee_Group,Gender,Talent_Planning
0,1,23/06/2013,31/12/9999,4,0.93,35,14222,8,273,0.6,30.4,0,0,1,Indonesia,Operations,Other,Female,Other

In [38]:
from datetime import date

df['Start_Date'] = pd.to_datetime(df['Start_Date'])

df['Start_Date'] = df['Start_Date'].dt.date

df['Leave_date'] = df['Start_Date'].apply(lambda x: (date(2020, 4, 1) - x).days)

df = df.rename(columns={'Leave_date': 'Days at company'})

# Modeling the data: Method 1

In [39]:
df.iloc[:,2:20]

,Days at company,Grade,Comp_Ratio,Cont._Hours,Annual_Salary,Hourly_Rate,Actual_monthly_pay,Time_in_latest_role,Commute,Direct_Reports,Is_manager,Team_eNPS_avg_response,Country,Function,Employee_Group,Gender,Talent_Planning
0,2474,4,0.93,35,14222,8,273,0.6,30.4,0,0,1,Indonesia,Operations,Other,Female,Other
1,2591,4,1.02,35,15606,9,300,7.7,1.8,4,1,5,Other,Marketing,Other,Male,Other
2,2562,11,0.90,21,26179,14,302,7.8,13.9,4,1,6,Brazil,Sales,Standard,Female,Other
3,1976,6,0.99,35,18224,10,350,2.4,8.5,6,1,10,Other,Operations,Standard,Female,Other
4,2196,7,1.02,35,21066,12,405,2.0,9.6,0,0,10,Germany,Sales,Other,Male,Other
5,979,13,0.91,14,30221,17,232,3.4,8.9,3,1,3,Indonesia,Other,Standard,Male,Other
6,2931,5,0.96,35,15662,9,301,2.3,17.7,0,0,3,Other,Finance,Standard,Male,Other
7,903,5,0.94,35,15416,8,296,3.1,1.1,0,0,6,Russian Fed.,Sales,Standard,Female,Other
8,5623,8,0.82,35,18617,10,358,9.7,35.6,0,0,10,Other,Operations,Standard,Female,Other
9,5855,8,0.99,35,22363,12,430,10.4,19.3,6,1,4,Monrovia,Information Services,Other,Male,Other
10,1457,14,0.81,35,28690,16,552,4.7,6.7,0,0,10,Romania,Operations,Standard,Male,Other
11,2097,20,0.99,35,47200,26,908,6.7,32.0,0,0,10,Italy,Operations,Other,Male,High Potentials
12,1256,9,0.82,35,20340,11,391,0.8,21.6,1,1,10,Indonesia,Information Services,Temporary,Female,Other
13,1498,3,1.09,35,11731,6,226,4.9,21.6,0,0,6,Monrovia,Operations,Standard,Male,Other
14,5710,5,1.16,35,18983,10,365,9.8,0.0,2,1,8,Japan,Marketing,Standard,Male,Other
15,2647,1,1.10,28,9562,5,147,8.0,18.9,0,0,4,Indonesia,Sales,Standard,Male,Other
16,3738,11,0.99,35,28790,16,554,9.1,2.2,0,0,6,Indonesia,Finance,Standard,Male,Other
17,2128,5,1.05,35,17261,9,332,2.3,8.3,0,0,10,Indonesia,Sales,Standard,Female,Other
18,8238,7,1.08,35,22148,12,426,2.0,7.6,0,0,7,Romania,Sales,Temporary,Male,Other
19,8882,16,1.18,35,46626,26,897,9.1,23.5,0,0,7,Poland,Other,Standard,Female,Other
20,9795,19,1.11,35,50972,28,980,8.1,25.4,4,1,9,South Korea,Operations,Standard,Male,Other
21,5140,8,1.01,35,22874,13,440,2.5,19.5,0,0,9,Ukraine,Operations,Temporary,Male,Other
22,3092,6,0.91,35,16836,9,324,9.2,29.5,0,0,1,Indonesia,Information Services,Standard,Female,Other
23,4793,8,1.11,14,25258,14,194,10.4,21.5,0,0,2,Philippines,Operations,Standard,Male,Other
24,1417,15,1.05,35,39377,22,757,4.6,34.0,0,0,9,Indonesia,Operations,Standard,Male,Other
25,17472,11,1.05,35,30530,17,587,15.4,29.2,0,0,1,Italy,Marketing,Temporary,Male,Other
26,4112,8,1.14,35,25939,14,499,7.1,29.8,0,0,7,Japan,Other,Temporary,Male,Other
27,2008,8,1.08,35,24407,13,469,1.1,30.6,6,1,1,Indonesia,Other,Standard,Male,Other
28,2931,6,0.91,21,16836,9,194,2.1,35.8,0,0,7,Indonesia,Other,Standard,Female,Other
29,2770,5,0.95,35,15539,9,299,8.3,33.7,7,1,1,Philippines,Finance,Standard,Female,Other
30,9266,5,1.05,28,17261,9,266,6.7,32.5,4,1,8,Philippines,Sales,Standard,Male,Other
31,1196,3,0.87,35,9310,5,179,4.0,29.0,0,0,1,Ukraine,Operations,Temporary,Female,Other
32,3198,13,1.17,28,38690,21,595,5.7,2.7,0,0,2,Other,Operations,Temporary,Female,Other
33,2054,5,1.05,35,17261,9,332,4.4,7.9,0,0,1,Indonesia,Sales,Standard,Male,Other
34,3190,6,1.12,35,20721,11,398,9.4,1.5,0,0,9,Indonesia,Operations,Standard,Male,Other
35,4279,11,1.02,35,29443,16,566,1.8,30.3,6,1,7,Italy,Finance,Standard,Male,High Potentials
36,1723,3,0.90,35,9713,5,187,0.5,36.2,3,1,1,Ukraine,Information Services,Standard,Male,Other
37,3122,9,0.84,28,20898,11,322,9.3,29.9,0,0,2,Mexico,Sales,Standard,Male,Other
38,2342,3,1.05,35,11247,6,216,2.3,11.2,0,0,6,Indonesia,Marketing,Standard,Female,Other
39,2073,9,1.12,35,27782,15,534,6.4,10.3,0,0,4,Japan,Sales,Temporary,Male,Other
40,2115,20,0.81,35,38934,21,749,6.5,34.3,2,1,1,Japan,Operations,Temporary,Female,Other
41,1768,1,1.17,35,10215,6,196,4.2,26.3,0,0,7,Poland,Operations,Temporary,Male,Other
42,2053,1,0.95,35,8255,5,159,6.4,32.8,5,1,9,Turkey,Sales,Standard,Female,Other
43,10413,12,1.09,21,33909,19,391,2.3,13.2,0,0,9,Indonesia,Operations,Standard,Female,Other
44,1532,6,0.88,28,16281,9,250,3.2,29.5,0,0,5,Indonesia,Finance,Temporary,Female,Other
45,3843,2,0.96,35,9299,5,179,6.6,12.1,0,0,1,Other,External Affairs,Standard,Female,Other
46,3337,8,1.11,35,25088,14,482,2.4,14.4,0,0,6,Other,Operations,Standard,Female,Other
47,1914,18,1.16,14,50602,28,389,1.7,31.5,0,0,2,Indonesia,Operations,Temporary,Female,Other
48,2090,4,1.02,35,15606,9,300,2.4,1.4,7,1,6,Switzerland,Sales,Standard,Male,Other
49,2641,6,1.08,21,20028,11,231,7.5,8.4,0,0,7,Indonesia,Operations,Standard,Male,Other
50,1552,3,0.81,35,8745,5,168,5.0,4.7,0,0,7,Indonesia,Sales,Temporary,Female,Other
51,2576,14,0.85,35,30015,16,577,7.8,7.2,6,1,1,Ukraine,Science & Innovation,Temporary,Male,Other
52,982,9,0.86,35,21270,12,409,3.4,28.5,0,0,10,Indonesia,Sales,Standard,Male,Other
53,1795,3,0.83,35,8906,5,171,5.8,28.5,0,0,1,Poland,Sales,Standard,Male,Other
54,1629,2,1.03,35,10030,6,193,5.2,5.9,0,0,10,Germany,Marketing,Standard,Male,Other
55,3820,12,0.98,35,30409,17,585,10.6,18.0,0,0,3,South Korea,Other,Temporary,Male,Other
56,7122,3,0.97,35,10440,6,201,2.4,24.8,0,0,5,Poland,Sales,Standard,Male,Other
57,2333,8,1.05,21,23725,13,274,1.9,24.1,5,1,7,Japan,Operations,Standard,Male,Other
58,3034,14,1.08,28,38224,21,588,5.5,36.3,3,1,7,Poland,Science & Innovation,Temporary,Male,High Potentials
59,802,15,0.99,35,36851,20,709,0.2,1.5,0,0,4,Indonesia,Science & Innovation,Standard,Male,Other
60,2211,5,1.18,35,19352,11,372,6.8,2.9,0,0,3,Poland,Sales,Standard,Female,Other
61,6738,4,0.99,35,15144,8,291,9.4,10.4,0,0,10,Indonesia,Other,Standard,Male,Other
62,9507,6,1.12,28,20721,11,319,7.0,13.0,0,0,10,Turkey,Sales,Other,Male,Other
63,2623,12,1.07,35,33209,18,639,7.9,18.1,3,1,5,Russian Fed.,Finance,Other,Male,Other
64,1468,13,1.16,21,38441,21,444,2.0,0.8,3,1,7,Russian Fed.,Operations,Standard,Male,High Potentials
65,8134,6,1.17,35,21554,12,414,0.6,25.9,4,1,10,Russian Fed.,Science & Innovation,Standard,Male,Other
66,5082,7,1.02,35,21066,12,405,10.2,17.9,0,0,9,Indonesia,Operations,Temporary,Male,Other
67,2044,14,0.90,35,31604,17,608,6.4,4.1,5,1,10,Mexico,Sales,Temporary,Female,High Potentials
68,2405,8,1.16,35,26280,14,505,0.8,9.8,0,0,7,Poland,Finance,Standard,Male,Other
69,2053,10,1.10,28,29530,16,454,1.3,19.9,0,0,3,Philippines,Operations,Standard,Male,High Potentials
70,826,6,0.98,35,18085,10,348,0.2,0.1,0,0,1,Russian Fed.,Sales,Standard,Male,Other
71,9586,14,1.11,35,39284,22,755,10.4,14.7,0,0,1,Argentina,Sales,Standard,Male,Other
72,1683,10,0.91,28,24485,13,377,5.4,36.1,0,0,2,Switzerland,Operations,Temporary,Female,Other
73,1031,8,0.82,35,18617,10,358,2.5,9.3,0,0,3,Italy,Operations,Standard,Male,Other
74,3820,5,1.04,35,17015,9,327,8.5,11.5,0,0,7,Monrovia,Operations,Temporary,Male,Other
75,7732,10,0.89,35,23879,13,459,18.4,17.8,0,0,9,Other,Operations,Standard,Male,High Potentials
76,5623,11,0.99,28,28572,16,440,0.7,17.2,0,0,1,Country X,Sales,Standard,Female,Other
77,3971,5,0.90,35,14678,8,282,10.5,0.2,0,0,10,Germany,Operations,Standard,Female,Other
78,4662,17,1.11,35,45985,25,884,8.0,15.3,0,0,3,Ukraine,Other,Standard,Female,Other
79,4270,10,0.99,28,26704,15,411,8.6,7.9,2,1,3,Indonesia,Sales,Temporary,Male,High Potentials
80,1349,9,1.01,35,24991,14,481,0.7,27.2,0,0,5,Russian Fed.,Operations,Standard,Male,Other
81,493,5,0.89,35,14555,8,280,2.1,33.9,0,0,4,Pakistan,Sales,Temporary,Female,Other
82,17309,14,1.15,35,40608,22,781,9.2,28.2,5,1,10,Indonesia,Operations,Standard,Male,Other
83,6497,2,1.11,14,10760,6,83,6.6,26.1,6,1,1,Poland,Science & Innovation,Standard,Male,Other
84,852,2,0.87,21,8496,5,98,2.1,33.9,0,0,4,Russian Fed.,Sales,Standard,Male,Other
85,1090,4,1.15,35,17681,10,340,1.4,25.4,7,1,3,Brazil,Sales,Temporary,Female,Other
86,2309,1,1.13,35,9823,5,189,2.1,17.0,2,1,6,Indonesia,Other,Standard,Male,Other
87,2345,11,0.97,35,28137,15,541,2.8,5.3,0,0,1,Indonesia,Operations,Standard,Male,Other
88,1588,11,0.84,21,24439,13,282,1.8,23.0,1,1,3,Brazil,Sales,Standard,Female,Other
89,5798,10,1.14,14,30740,17,236,9.1,18.0,3,1,7,Russian Fed.,Marketing,Standard,Male,Other
90,1839,11,0.87,35,25309,14,487,1.9,15.3,7,1,6,Germany,Finance,Temporary,Female,Other
91,1453,6,1.07,35,19750,11,380,4.3,1.4,0,0,3,Poland,Operations,Other,Male,Other
92,1440,6,1.14,35,21138,12,406,4.7,6.2,0,0,3,Argentina,Operations,Temporary,Male,Other
93,2787,7,1.13,35,23229,13,447,2.0,19.2,0,0,2,Other,Operations,Other,Female,Other
94,2242,13,0.96,35,31965,18,615,2.8,22.9,6,1,10,Other,People & Culture,Temporary,Male,Other
95,2259,5,1.13,35,18491,10,356,6.9,12.8,6,1,6,Indonesia,Marketing,Standard,Male,Other
96,2602,7,1.04,35,21375,12,411,2.7,8.2,0,0,1,Indonesia,Support Services,Temporary,Female,Other
97,2856,10,1.02,35,27310,15,525,4.5,0.7,0,0,6,Philippines,Sales,Temporary,Male,Other
98,5836,7,1.13,35,23229,13,447,9.3,0.7,0,0,2,Indonesia,Other,Standard,Male,Other
99,2173,10,1.19,35,31951,18,614,6.7,35.9,7,1,2,Indonesia,Operations,Standard,Female,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22219,40,15,1.08,21,40406,22,466,0.1,13.4,0,0,10,Turkey,Operations,Standard,Male,Other
22220,29,9,1.11,35,27534,15,529,0.0,8.8,0,0,6,Philippines,Science & Innovation,Standard,Female,Other
22221,127,14,0.82,28,28955,16,445,0.3,23.9,2,1,10,Other,Operations,Temporary,Female,Other
22222,323,18,1.12,21,48962,27,565,0.8,19.4,0,0,7,Indonesia,Operations,Standard,Male,Other
22223,40,11,1.20,35,34809,19,669,0.1,11.1,0,0,7,Turkey,Sales,Standard,Male,Other
22224,251,9,1.17,35,29022,16,558,0.6,33.7,0,0,6,Other,Operations,Standard,Female,Other
22225,392,21,0.80,28,40016,22,616,0.8,2.0,6,1,10,Russian Fed.,Operations,Other,Male,Other
22226,372,12,1.07,35,33286,18,640,1.0,14.3,0,0,10,Switzerland,Sales,Standard,Male,Other
22227,128,5,0.88,35,14432,8,278,0.3,28.1,0,0,2,Philippines,Operations,Standard,Male,Other
22228,125,20,0.80,35,38335,21,737,0.3,30.4,0,0,10,Switzerland,Operations,Standard,Male,Other
22229,340,9,0.78,35,19348,11,372,0.9,24.0,0,0,7,Poland,Operations,Standard,Male,Other
22230,199,4,0.77,35,11839,7,228,0.5,32.5,0,0,3,Philippines,Operations,Standard,Male,Other
22231,236,9,1.06,35,26293,14,506,0.5,6.0,0,0,10,Mexico,Operations,Standard,Male,Other
22232,187,1,1.01,35,8800,5,169,0.5,21.7,0,0,1,Switzerland,Other,Temporary,Female,Other
22233,171,14,1.20,35,42374,23,815,0.4,1.1,5,1,1,Turkey,Sales,Standard,Male,Other
22234,-155,13,0.90,35,29889,16,575,0.0,14.4,0,0,10,Switzerland,Operations,Standard,Female,Other
22235,68,3,1.11,35,11946,7,230,0.1,3.7,1,1,10,Turkey,Sales,Temporary,Male,Other
22236,149,11,0.88,35,25527,14,491,0.9,29.2,0,0,1,Indonesia,Operations,Standard,Male,Other
22237,42,16,0.88,35,34772,19,669,0.1,27.0,3,1,7,Poland,Operations,Standard,Male,Other
22238,357,7,0.80,35,16482,9,317,0.5,5.3,4,1,7,Romania,Other,Standard,Male,Other
22239,177,9,0.77,35,19100,10,367,0.7,7.0,5,1,10,Japan,Operations,Other,Female,Other
22240,140,7,0.97,35,19984,11,384,0.3,7.6,3,1,10,Philippines,People & Culture,Standard,Female,Other
22241,29,7,0.75,35,15452,8,297,0.0,35.1,0,0,10,Monrovia,Operations,Other,Female,Other
22242,306,6,1.17,35,21646,12,416,0.8,3.7,4,1,4,Philippines,Sales,Other,Male,Other
22243,348,9,0.94,35,23317,13,448,0.9,34.3,0,0,6,Philippines,Sales,Temporary,Male,Other
22244,420,12,0.85,21,26442,15,305,0.8,0.3,7,1,5,Indonesia,Sales,Standard,Male,Other
22245,187,13,1.09,14,36199,20,278,0.5,1.6,0,0,5,Philippines,Operations,Standard,Male,Other
22246,239,10,0.99,28,26637,15,410,0.8,31.3,3,1,10,Philippines,Operations,Standard,Male,Other
22247,333,6,1.13,35,20906,11,402,1.0,19.0,0,0,2,South Korea,Operations,Temporary,Male,Other
22248,375,4,1.14,21,17528,10,202,1.0,31.5,5,1,1,Switzerland,Operations,Standard,Male,Other
22249,330,1,0.90,35,7841,4,151,0.7,6.8,0,0,10,Philippines,Other,Standard,Male,Other
22250,271,6,0.95,28,17576,10,270,0.9,6.2,0,0,10,Other,Operations,Standard,Female,Other
22251,94,14,1.20,35,42374,23,815,0.2,20.9,2,1,7,Other,Sales,Temporary,Male,Other
22252,178,10,1.11,35,29866,16,574,0.8,31.9,0,0,2,Poland,Sales,Standard,Male,Other
22253,276,5,0.77,21,12628,7,146,0.7,5.9,5,1,6,Other,Other,Standard,Female,Other
22254,190,15,1.22,35,45643,25,878,0.5,18.0,0,0,3,Turkey,Operations,Standard,Male,Other
22255,61,10,1.20,35,32288,18,621,0.1,36.4,0,0,1,Turkey,Operations,Standard,Male,Other
22256,343,11,0.89,35,25817,14,496,0.9,9.4,0,0,9,Monrovia,Marketing,Standard,Male,Other
22257,214,12,1.02,35,31731,17,610,0.5,30.3,0,0,5,Indonesia,Operations,Standard,Male,Other
22258,367,6,1.06,28,19611,11,302,1.0,28.4,0,0,1,Other,Sales,Standard,Male,Other
22259,196,8,0.79,28,17936,10,276,0.5,11.4,0,0,7,Japan,Other,Standard,Male,Other
22260,161,9,0.89,35,22076,12,425,0.4,21.2,0,0,10,Poland,Marketing,Other,Female,Other
22261,-30,6,0.95,35,17576,10,338,0.2,25.7,4,1,4,Indonesia,Operations,Standard,Female,Other
22262,453,10,0.88,35,23678,13,455,1.0,22.0,7,1,1,Philippines,Other,Standard,Male,Other
22263,351,1,0.86,35,7493,4,144,0.9,29.5,1,1,7,Monrovia,Sales,Temporary,Male,Other
22264,247,11,0.95,21,27557,15,318,0.6,15.6,1,1,3,Germany,Finance,Standard,Male,Other
22265,360,8,1.15,35,26109,14,502,0.7,12.6,6,1,9,Italy,Operations,Temporary,Male,Other
22266,206,11,0.82,35,23786,13,457,0.6,24.7,1,1,9,Turkey,Sales,Standard,Male,Other
22267,287,2,0.90,35,8764,5,169,0.7,29.7,0,0,10,Pakistan,Sales,Standard,Male,Other
22268,37,10,1.02,35,27444,15,528,0.1,17.5,0,0,10,South Korea,Sales,Standard,Female,Other
22269,194,5,1.01,35,16564,9,319,0.5,2.3,0,0,7,Monrovia,Marketing,Standard,Male,Other
22270,37,2,1.21,28,11782,6,181,0.1,19.9,0,0,10,Ukraine,Operations,Standard,Male,Other
22271,158,8,0.96,28,21796,12,335,0.4,33.7,0,0,9,Indonesia,Operations,Standard,Male,Other
22272,196,3,1.21,35,13023,7,250,0.5,6.2,2,1,10,Japan,Marketing,Standard,Male,Other
22273,268,11,0.81,35,23496,13,452,0.6,34.1,0,0,6,Philippines,Sales,Standard,Female,Other
22274,190,7,0.82,21,16894,9,195,0.5,34.0,0,0,4,Switzerland,Other,Standard,Male,Other
22275,158,5,1.02,35,16728,9,322,0.4,11.0,3,1,7,Japan,Operations,Standard,Male,Other
22276,389,12,0.76,35,23643,13,455,0.5,28.1,1,1,4,South Korea,Operations,Standard,Female,Other
22277,146,11,1.25,35,36259,20,697,0.7,27.7,3,1,3,Germany,People & Culture,Standard,Male,Other
22278,112,7,0.97,28,19984,11,307,0.3,17.3,0,0,3,Turkey,Operations,Standard,Male,Other
22279,92,10,1.01,28,27175,15,418,0.2,21.5,0,0,7,Germany,Other,Standard,Female,Other
22280,371,6,1.21,35,22387,12,431,1.0,25.6,6,1,7,Philippines,Finance,Temporary,Male,Other
22281,228,7,0.96,35,19778,11,380,0.6,34.8,0,0,7,Switzerland,Operations,Standard,Male,Other
22282,162,8,0.93,35,21114,12,406,0.4,1.8,3,1,6,Monrovia,Sales,Standard,Female,Other
22283,309,8,1.19,35,27017,15,520,0.8,7.4,4,1,5,Argentina,Operations,Standard,Male,Other
22284,141,3,0.98,28,10547,6,162,0.3,6.0,0,0,6,Indonesia,Sales,Standard,Female,Other
22285,277,6,0.93,35,17206,9,331,0.7,9.9,0,0,1,Indonesia,Operations,Standard,Male,Other
22286,174,16,0.93,35,36748,20,707,0.4,3.5,2,1,1,Ukraine,Other,Standard,Male,Other
22287,-124,7,1.08,35,22251,12,428,0.0,5.9,0,0,10,Poland,Science & Innovation,Standard,Male,Other
22288,354,3,0.91,28,9794,5,151,0.9,22.4,0,0,10,Turkey,Other,Standard,Male,Other
22289,349,14,1.21,28,42727,23,657,0.9,11.6,3,1,9,Switzerland,Finance,Temporary,Female,Other
22290,-214,12,0.86,28,26754,15,412,0.2,26.5,0,0,2,Philippines,Marketing,Standard,Female,Other
22291,77,9,0.76,35,18852,10,363,0.2,8.8,0,0,10,Pakistan,Finance,Standard,Male,Other
22292,205,9,1.10,35,27286,15,525,0.5,14.6,0,0,6,Indonesia,Sales,Standard,Male,Other
22293,318,9,1.14,35,28278,16,544,0.8,34.4,0,0,6,Switzerland,Sales,Standard,Male,Other
22294,296,8,0.86,35,19525,11,375,0.4,1.1,2,1,5,Brazil,Operations,Standard,Male,Other
22295,267,12,1.11,35,34531,19,664,0.5,12.2,0,0,7,Philippines,Operations,Standard,Male,High Potentials
22296,189,11,1.12,35,32488,18,625,0.5,3.4,0,0,9,Japan,Support Services,Temporary,Female,Other
22297,328,4,0.82,35,12608,7,242,0.5,8.6,0,0,3,Indonesia,Operations,Temporary,Male,Other
22298,-62,10,1.17,35,31480,17,605,0.1,14.1,0,0,6,Indonesia,Other,Standard,Male,Other
22299,146,5,0.90,35,14760,8,284,0.7,22.9,0,0,1,Other,Operations,Standard,Female,Other
22300,161,13,0.81,14,26900,15,207,0.4,21.9,4,1,10,Russian Fed.,Operations,Temporary,Male,Other
22301,251,5,1.23,35,20172,11,388,0.6,13.8,0,0,4,Romania,Operations,Temporary,Male,Other
22302,295,11,1.18,35,34229,19,658,0.4,7.2,0,0,9,Philippines,Sales,Standard,Male,Other
22303,171,5,0.77,14,12628,7,97,0.4,3.7,0,0,1,Philippines,Finance,Standard,Male,Other
22304,367,2,0.92,35,8959,5,172,1.0,11.6,6,1,7,Philippines,Sales,Standard,Male,Other
22305,138,2,0.90,35,8764,5,169,0.3,29.2,0,0,10,Germany,Sales,Standard,Male,Other
22306,147,13,1.00,28,33210,18,511,0.8,11.8,0,0,10,Other,Operations,Other,Female,Other
22307,89,3,0.94,35,10117,6,195,0.0,28.5,2,1,5,Switzerland,Sales,Standard,Male,Other
22308,161,7,1.24,35,25547,14,491,0.4,27.1,0,0,1,Philippines,Sales,Standard,Male,Other
22309,75,2,1.17,35,11393,6,219,0.2,14.0,0,0,10,Other,Operations,Standard,Male,Other
22310,40,6,1.02,35,18871,10,363,0.1,19.5,0,0,1,Italy,Other,Standard,Male,Other
22311,448,4,0.91,35,13991,8,269,0.5,10.7,0,0,7,Indonesia,Marketing,Standard,Male,Other
22312,42,8,0.89,21,20206,11,233,0.1,18.6,0,0,6,Japan,Operations,Standard,Male,Other
22313,276,11,1.17,35,33939,19,653,0.7,23.4,0,0,10,Other,Sales,Standard,Male,Other
22314,377,9,0.79,35,19596,11,377,1.0,25.6,5,1,6,Indonesia,Operations,Standard,Male,Other
22315,-32,14,0.82,35,28955,16,557,0.0,18.7,0,0,9,Indonesia,Other,Temporary,Male,Other
22316,100,6,1.04,35,19241,11,370,0.2,10.2,1,1,6,Indonesia,Sales,Standard,Male,Other
22317,-63,3,1.10,21,11839,7,137,0.0,33.3,1,1,5,Italy,Marketing,Standard,Female,Other
22318,187,10,0.87,35,23408,13,450,0.5,6.4,6,1,10,Japan,Operations,Standard,Female,Other

In [40]:
data = df.iloc[:,2:20]

In [41]:
# Extract feature (X) columns
feature_cols = list(data.columns) 
print("Feature column(s):-\n{}".format(feature_cols))

X_all = data[feature_cols]
print("\nFeature values:-")
print(X_all.head())

Feature column(s):-
['Days at company', 'Grade', 'Comp_Ratio', 'Cont._Hours', 'Annual_Salary', 'Hourly_Rate', 'Actual_monthly_pay', 'Time_in_latest_role', 'Commute', 'Direct_Reports', 'Is_manager', 'Team_eNPS_avg_response', 'Country', 'Function', 'Employee_Group', 'Gender', 'Talent_Planning']

Feature values:-
   Days at company  Grade  Comp_Ratio  Cont._Hours  Annual_Salary  \
0             2474      4        0.93           35          14222
1             2591      4        1.02           35          15606
2             2562     11        0.90           21          26179
3             1976      6        0.99           35          18224
4             2196      7        1.02           35          21066

   Hourly_Rate  Actual_monthly_pay  Time_in_latest_role  Commute  \
0            8                 273                  0.6     30.4
1            9                 300                  7.7      1.8
2           14                 302                  7.8     13.9
3           10                 350                  2.4      8.5
4           12                 405                  2.0      9.6

   Direct_Reports  Is_manager  Team_eNPS_avg_response    Country    Function  \
0               0           0                       1  Indonesia  Operations
1               4           1                       5      Other   Marketing
2               4           1                       6     Brazil       Sales
3               6           1                      10      Other  Operations
4               0           0                      10    Germany       Sales

  Employee_Group  Gender Talent_Planning
0          Other  Female           Other
1          Other    Male           Other
2       Standard  Female           Other
3       Standard  Female           Other
4          Other    Male           Other

In [42]:
# Preprocess feature columns
def preprocess_features(X):
    outX = pd.DataFrame(index=X.index)  # output dataframe, initially empty

    # Check each column
    for col, col_data in X.iteritems():
        # If data type is non-numeric, try to replace all yes/no values with 1/0
        if col_data.dtype == object:
            col_data = col_data.replace(['yes', 'no'], [1, 0])
        # Note: This should change the data type for yes/no columns to int

        # If still non-numeric, convert to one or more dummy variables
        if col_data.dtype == object:
            col_data = pd.get_dummies(col_data, prefix=col)  # e.g. 'school' => 'school_GP', 'school_MS'

        outX = outX.join(col_data)  # collect column(s) in output dataframe

    return outX

X_all = preprocess_features(X_all)
print("Processed feature columns ({}):-\n{}".format(len(X_all.columns), list(X_all.columns)))

Processed feature columns (48):-
['Days at company', 'Grade', 'Comp_Ratio', 'Cont._Hours', 'Annual_Salary', 'Hourly_Rate', 'Actual_monthly_pay', 'Time_in_latest_role', 'Commute', 'Direct_Reports', 'Is_manager', 'Team_eNPS_avg_response', 'Country_Argentina', 'Country_Brazil', 'Country_Country X', 'Country_Germany', 'Country_Indonesia', 'Country_Italy', 'Country_Japan', 'Country_Mexico', 'Country_Monrovia', 'Country_Other', 'Country_Pakistan', 'Country_Philippines', 'Country_Poland', 'Country_Romania', 'Country_Russian Fed.', 'Country_South Korea', 'Country_Switzerland', 'Country_Turkey', 'Country_Ukraine', 'Function_External Affairs', 'Function_Finance', 'Function_Information Services', 'Function_Marketing', 'Function_Operations', 'Function_Other', 'Function_People & Culture', 'Function_Sales', 'Function_Science & Innovation', 'Function_Support Services', 'Employee_Group_Other', 'Employee_Group_Standard', 'Employee_Group_Temporary', 'Gender_Female', 'Gender_Male', 'Talent_Planning_High Potentials', 'Talent_Planning_Other']

In [43]:
X_all.head(n=1)

,Days at company,Grade,Comp_Ratio,Cont._Hours,Annual_Salary,Hourly_Rate,Actual_monthly_pay,Time_in_latest_role,Commute,Direct_Reports,Is_manager,Team_eNPS_avg_response,Country_Argentina,Country_Brazil,Country_Country X,Country_Germany,Country_Indonesia,Country_Italy,Country_Japan,Country_Mexico,Country_Monrovia,Country_Other,Country_Pakistan,Country_Philippines,Country_Poland,Country_Romania,Country_Russian Fed.,Country_South Korea,Country_Switzerland,Country_Turkey,Country_Ukraine,Function_External Affairs,Function_Finance,Function_Information Services,Function_Marketing,Function_Operations,Function_Other,Function_People & Culture,Function_Sales,Function_Science & Innovation,Function_Support Services,Employee_Group_Other,Employee_Group_Standard,Employee_Group_Temporary,Gender_Female,Gender_Male,Talent_Planning_High Potentials,Talent_Planning_Other
0,2474,4,0.93,35,14222,8,273,0.6,30.4,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1

In [44]:
import joblib
clf = joblib.load('model_attrition.pkl')

In [45]:
y_pred = clf.predict(X_all)

In [46]:
y_pred_proba = clf.predict_proba(X_all)

In [47]:
y_pred_proba[0][1]

0.0076567768774478346

In [48]:
y_pred_proba[:, 1]

array([7.65677688e-03, 1.28155612e-02, 7.77249858e-04, ...,
       9.16412924e-01, 9.52322541e-01, 9.89287682e-01])

In [49]:
df['Leaver'] = y_pred
df['Probability of leaving'] = y_pred_proba[:, 1]

In [50]:
df.head()

,Employee ID,Start_Date,Days at company,Grade,Comp_Ratio,Cont._Hours,Annual_Salary,Hourly_Rate,Actual_monthly_pay,Time_in_latest_role,Commute,Direct_Reports,Is_manager,Team_eNPS_avg_response,Country,Function,Employee_Group,Gender,Talent_Planning,Leaver,Probability of leaving
0,1,2013-06-23,2474,4,0.93,35,14222,8,273,0.6,30.4,0,0,1,Indonesia,Operations,Other,Female,Other,0,0.007657
1,2,2013-02-26,2591,4,1.02,35,15606,9,300,7.7,1.8,4,1,5,Other,Marketing,Other,Male,Other,0,0.012816
2,3,2013-03-27,2562,11,0.90,21,26179,14,302,7.8,13.9,4,1,6,Brazil,Sales,Standard,Female,Other,0,0.000777
3,4,2014-11-03,1976,6,0.99,35,18224,10,350,2.4,8.5,6,1,10,Other,Operations,Standard,Female,Other,0,0.085508
4,5,2014-03-28,2196,7,1.02,35,21066,12,405,2.0,9.6,0,0,10,Germany,Sales,Other,Male,Other,0,0.044621

In [51]:
df.loc[df['Leaver']==1].head()

,Employee ID,Start_Date,Days at company,Grade,Comp_Ratio,Cont._Hours,Annual_Salary,Hourly_Rate,Actual_monthly_pay,Time_in_latest_role,Commute,Direct_Reports,Is_manager,Team_eNPS_avg_response,Country,Function,Employee_Group,Gender,Talent_Planning,Leaver,Probability of leaving
73,83,2017-06-05,1031,8,0.82,35,18617,10,358,2.5,9.3,0,0,3,Italy,Operations,Standard,Male,Other,1,0.846615
223,259,2017-12-04,849,10,1.02,28,27512,15,423,2.5,20.3,3,1,4,Turkey,Marketing,Standard,Male,Other,1,0.871228
250,291,2017-07-08,998,16,0.82,35,32401,18,623,3.4,20.8,0,0,6,Other,Operations,Standard,Male,Other,1,0.697402
317,364,2016-04-25,1437,3,0.96,35,10278,6,198,4.7,15.6,0,0,5,Philippines,Operations,Standard,Male,Other,1,0.617897
324,371,2018-12-24,464,2,1.05,35,10176,6,196,1.0,28.4,1,1,9,Russian Fed.,Operations,Standard,Male,Other,1,0.722131

In [52]:
df.to_csv('attrition_modelling.csv', index=False)

In [2]:
df = pd.read_csv('attrition_modelling.csv')

In [4]:
df.head()

,Employee ID,Start_Date,Days at company,Grade,Comp_Ratio,Cont._Hours,Annual_Salary,Hourly_Rate,Actual_monthly_pay,Time_in_latest_role,Commute,Direct_Reports,Is_manager,Team_eNPS_avg_response,Country,Function,Employee_Group,Gender,Talent_Planning,Leaver,Probability of leaving
0,1,2013-06-23,2474,4,0.93,35,14222,8,273,0.6,30.4,0,0,1,Indonesia,Operations,Other,Female,Other,0,0.007657
1,2,2013-02-26,2591,4,1.02,35,15606,9,300,7.7,1.8,4,1,5,Other,Marketing,Other,Male,Other,0,0.012816
2,3,2013-03-27,2562,11,0.90,21,26179,14,302,7.8,13.9,4,1,6,Brazil,Sales,Standard,Female,Other,0,0.000777
3,4,2014-11-03,1976,6,0.99,35,18224,10,350,2.4,8.5,6,1,10,Other,Operations,Standard,Female,Other,0,0.085508
4,5,2014-03-28,2196,7,1.02,35,21066,12,405,2.0,9.6,0,0,10,Germany,Sales,Other,Male,Other,0,0.044621

In [9]:
df.groupby(['Country']).sum()

,Employee ID,Days at company,Grade,Comp_Ratio,Cont._Hours,Annual_Salary,Hourly_Rate,Actual_monthly_pay,Time_in_latest_role,Commute,Direct_Reports,Is_manager,Team_eNPS_avg_response,Leaver,Probability of leaving
Country,,,,,,,,,,,,,,,
Argentina,10931230,2921230,8152,894.38,28077,22417746,12318,390722,4430.6,16005.7,1447,371,5355,42,52.823212
Brazil,10351622,2907094,8309,888.69,28147,22666181,12439,394205,4492.0,16377.1,1524,382,5398,35,42.512834
Country X,3243575,758748,2170,241.58,7490,6007226,3296,103765,1238.2,4577.4,393,97,1430,35,37.014583
Germany,10814126,2134664,6175,678.41,20755,17126490,9401,291778,3156.8,12449.2,1087,280,4147,162,169.767068
Indonesia,76995439,20099577,56454,6126.53,190547,155136914,85251,2662871,30851.0,112247.8,9194,2291,37164,392,472.122082
Italy,10267489,2156007,6189,677.96,20846,17161524,9422,294110,3215.2,12295.6,1160,278,4215,140,148.265318
Japan,11256788,2134981,6313,675.34,21182,17325527,9526,301780,3182.6,12261.7,1020,266,4158,173,186.999657
Mexico,7181114,1423017,4325,454.41,14399,11749051,6452,205672,2119.6,8086.0,671,174,2745,106,110.207422
Monrovia,5627413,1361524,3894,426.35,13398,10740947,5908,186428,2145.9,7618.0,644,155,2565,52,59.092855
Other,36374571,8755021,24757,2653.84,82068,68207838,37465,1172469,13435.7,47716.0,4002,994,16078,356,386.915188
Pakistan,6617371,1394943,4105,445.93,13867,11308389,6211,193739,2097.7,7910.4,650,160,2654,70,75.396500
Philippines,40217781,7794711,23179,2501.24,77434,63854893,35085,1098387,11852.8,45503.1,3791,957,14878,597,651.430841
Poland,21722944,5959966,17226,1823.97,56875,46989567,25823,806001,9322.3,33803.0,3083,763,10853,63,83.486184
Romania,6532649,1391394,4012,439.89,13391,11063225,6076,185847,2059.1,8081.6,715,179,2724,70,75.932856
Russian Fed.,13953401,3630189,10568,1131.76,35350,28961812,15901,497854,5589.3,20537.6,1790,459,6789,44,59.846320
South Korea,6296735,1417706,4141,456.63,14616,11378420,6254,199005,2249.7,8450.9,737,182,2757,69,71.873394
Switzerland,17162518,2868905,8956,936.89,28735,24591606,13503,420033,3980.4,16941.4,1479,367,5846,327,345.497232
Turkey,10878579,1879440,5803,633.38,19880,16108295,8857,281010,2870.4,11553.0,1061,260,3660,176,186.651323
Ukraine,6011991,1208073,3621,394.49,12271,9961663,5479,171094,1849.7,7358.0,589,155,2331,94,94.680954